.header-title {
  color: white;
  margin-top: 130px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  height: 60px;
}

.character-list {
  color: white;
  display: flex;
  flex-wrap: wrap;
}

